@font-face {
    font-family: 'Kayak Sans Bold';
    src: url('./KayakSansBold.otf') format('opentype');
}

@font-face {
    font-family: 'Kayak Sans Regular';
    src: url('./KayakSansRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Kayak Sans Light';
    src: url('./KayakSansLight.otf') format('opentype');
}
